<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>24事件处理</title>
    <style>

    </style>
    <script type="text/javascript" src="../../angular/angular-1.5.8/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<!--<div ng-click="show()">ddd</div>-->
<!--<div ng-dblclick="show()">ddd</div>-->
<input type="text" ng-blur="show()" ng-model="data"/>{{data}}


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', ['$scope', function ($scope) {
        $scope.show = function () {
            $scope.data='majl'

        }

    }])
</script>

</body>
</html>








